.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Verdana', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}
.navbar {
  background-color: #F7A350;
  margin-bottom: 2%;
}
nav a {
  text-decoration: none;
}

.nav-link{
color: white;
}
.boton-compra{
    display: inline-block; /* Permite aplicar márgenes y padding */
  padding: 7px 25px 7px 25px;   /* Relleno dentro del botón */
  width: 205px;
  background-color: #E98119; /* Color de fondo */
  color: white;          /* Color del texto */
  border: none;          /* Elimina el borde predeterminado */
  border-radius: 50px;    /* Esquinas redondeadas */
  text-align: center;    /* Centra el texto */
  text-decoration: none; /* Elimina el subrayado de los enlaces */
  cursor: pointer;       /* Cambia el cursor a una mano al pasar por encima */  
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.668));
  margin: 5px;
}
.botones{
    display: inline-block; /* Permite aplicar márgenes y padding */
  padding: 10px 25px 10px 25px;   /* Relleno dentro del botón */
  width: 205px;
  background-color: #E98119; /* Color de fondo */
  color: white;          /* Color del texto */
  border: none;          /* Elimina el borde predeterminado */
  border-radius: 50px;    /* Esquinas redondeadas */
  text-align: center;    /* Centra el texto */
  text-decoration: none; /* Elimina el subrayado de los enlaces */
  cursor: pointer;       /* Cambia el cursor a una mano al pasar por encima */  
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.668));
  margin: 5px;
}

.botones:active {
  background-color: #9B4D00; /* Cambia el color de fondo */
  transform: translateY(1px); /* Mueve ligeramente el botón hacia abajo */
}
input[type="search"] {
  border-radius: 9999px;
  width: 600px;
}

.barra-busqueda{
  margin-right: 25px ;
}

.logo-barra{
height: 55px;
position: absolute;
top:0;
left: 0;
margin-top: 5px;
}

.logo-top{
  margin-right: 80px;
}
.carrito{
  height: 30px;
}

.card-title{
  color:white;
  text-align: center;
  margin: 0;
  width: 100%;
  background-color: #F58F29;
}

.franja{
  background-color: #F58F29;   
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 13px;
  font-size: 1rem;
  line-height: 1.4;
}
.franjaHover{background-color: #F58F29;   
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 13px;
  font-size: 1rem;
  line-height: 1.4;
  margin-top:20px;
}

.auto-desc{
  font-family: 'open sans';
  text-align: center;
  margin: 9%;
}

.auto-vendidos{
  font-family: 'open sans';
  text-align: center;
  margin-top: 20%;
  margin-bottom: 8%;

}

.card-img-top{
  display: block;   
  width: 100%;      
  margin: 0;        
  padding: 0;      
  }

.card {
  text-align: center;
  border-radius: 8px;
  overflow: hidden; 
}
.card-body{
  margin-left: -1rem;
  margin-right: -1rem;
}
.auto-precio{
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  font-family: 'open sans';
}

.btn{
display: block;
margin-left:80px;
margin-right: 80px;
font-weight: bold;
padding: 0.5rem 1.5rem;
border-radius: 9999px;
transition: background-color 200ms ease-in-out;
cursor: pointer;
border: none;
}




/* hacer que se muestren de a 3 */


#contenedor-main-tarjetas {
  display: flex;
  flex-wrap: wrap;        /* para que bajen fila */
  gap: 16px;              /* espaciado tarjetas */
  justify-content: center; /* queden centradas si no son 3 */
}

/* style hover y sin hover */

.contenedor-tarjetas {
  position: relative;
  flex: 0 0 calc((100% - 32px) / 3); /* 3 por fila - establece cantidad por fila */
  min-width: calc((100% - 32px) / 3);
}

/* La tarjeta default - manda */
.contenedor-tarjetas .normal {
  position: relative;
  z-index: 2;
  transition: opacity .3s ease;
  background-color: #FEDFC3;
  border: 2px solid #7D4600;
}

/* Dorso superpuesto encima */
.contenedor-tarjetas .expandida {
  position: absolute;
  inset: 0;         
  opacity: 0;
  transition: opacity .3s ease;
  z-index: 1;
  background: #FEDFC3; 
  border: 2px solid #005EDE;
  text-align: center;
  
}


/* Oculto frente, muestro dorso con fade */
.contenedor-tarjetas:hover .normal { opacity: 0; }
.contenedor-tarjetas:hover .expandida  { opacity: 1; }


/* style hover y sin hover fin */


.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

/*codigo css Login*/

.elipse{
  margin-top: 8%;
      margin-left: 9%;
      width: 35%;
      height: 130px;
      background-color:#F7A350 ;
      border-radius: 50%;
      box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
      margin-bottom: 60px;
    }
.sesion{
  position: absolute;
      width: 35%;
      height: 1%;
      left: 11.5%;
      top: 17.5%;

      color: white;
      font-family: 'Jost';
      font-style: normal;
      font-weight: 500;
      font-size: 400%;
      line-height: 140%;
    }
#contraseña{
  display: flex;
  margin-top: 1%;
  margin-left: 8%; width: 40%; height: 20%;
  font-family:'Jost';
  font-weight: bold;
  height: 60px;
}
#usuario{
  display: flex;
  margin-bottom: 10%;
  margin-top: 1%;
  margin-left: 8%; width: 40%; 
  font-family:'Jost';
  height: 60px;
  font-weight: bold;
}

#boton{
  font-weight: bold;
  margin-top: 8%;
  height: 50px;
  background-color: #F7A350;
  border: #F7A350;
  color: white;
  border-radius: 10px; width: 350px; margin-left: 173px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}
.a:hover{
  color: #9B4D00;
  text-decoration: none;
  transform: scale(1.05); 
}
#boton:hover{
  background-color: #9B4D00; 
  transform: scale(1.05);   
}
.registro{
  margin-top: 1%;
  margin-left: 280px;
  font-family: 'Jost';
  font-weight: bold;
}
.logo{
    position: absolute;
    left: 60%;
    bottom: 40%;
    width: 600px;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.668));
}
.logoJaP{
 margin-left: 35%;
 margin-bottom: 2%;
 width: 15%;
}

@media (max-width:1024px) {
}

